.table>thead>tr>th {
    border-bottom: 2px solid #b3b3b3;
    font-weight: 600;
    background: #ededed;
}

.panel-heading {
    position: relative;
    padding: 12px 15px;
    border: 0;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.panel-heading h4 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    padding: 0;
}

@media(max-width: 768px) {
    .daterangepicker {
        width: 318px !important;
    }
}

.divloader_ajax_small {
    border: 2px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    margin: 0 auto;
    -webkit-animation: spin_loader_ajax_small .30s linear infinite;
    animation: spin_loader_ajax_small .30s linear infinite;
}

@-webkit-keyframes spin_loader_ajax_small {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin_loader_ajax_small {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

/* Style the buttons that are used to open the tab content */
.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 50px;
    transition: 0.3s;
}
.tab a{
    text-decoration: none;
    color: black;
}

/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab a.active {
    background-color: #102e23;
    color: #f1f1f1;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}