.avatar img {
    margin: 0px auto;
    max-width: 105px;
}

.form-control:disabled {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

.table .sorting{
    white-space: nowrap;
}

.edit-avt-img {
    max-width: 200px;
    width: 105px;
    margin-top: 10px;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}