.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
body{
    font-family: 'Roboto', sans-serif!important;
}

@media print {
    .printbtn {
        display: none;
    }
    body{
        /* font-family: apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
        font-family: 'Roboto', sans-serif!important;
    }

    p,td{
        font-weight: 900 !important;
    }
}